/* Bootstrap CSS Stylesheet */
@import url("./bootstrap.css"); /* Using a url */

/* CSS Comment looks like this */
/* body {
  width: 600px;
  margin: 0 auto;
} */

h1 {
  text-align: center;
  color: blue;
}

h1, h2 {
  color: deeppink;
}

h3{
  color: blue;
  font-size: medium;
  /* margin-bottom: -12px;
  margin-top: 50px; */
}

.nav-menu {
  list-style-type: none;
}

.nav-menu li {
  display: inline;
}

/* .container{
  background-color: aqua;
} */

/* Bootstrap Overides */
.btn-primary{
  color: #fff;
  background-color: deeppink;
  border-color: deeppink;
}

.btn-primary:hover{
  color: #fff;
  background-color: purple;
  border-color: purple;
}


.hello{
  color: red;
}